<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WindhelmNordicBakery</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/stylesheet.css" />

</head>
<body>
    <header class="fixed-top">
        <nav class="navbar bg-gold py-0 navbar-expand-sm">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item pipe-seperator">
                        <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">Our Story</a>
                    </li>
                </ul>
            </div>
        </nav>
        <nav class="navbar navbar-expand-md bg-cream ">
            <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item active px-5">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Bakery</a>
                    </li>
                    <li class="nav-item px-5">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Products">Menu</a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto order-0 order-md-1 position-relative">
                <a class="mx-auto navbar-brand" href="#">
                    <img class="rounded-circle" src="/images/temp_logo.png" width="75" height="75">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
                <ul class="navbar-nav mr-auto text-center">
                    <li class="nav-item px-5">
                        <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Gallery</a>
                    </li>
                    <li class="nav-item px-5">
                        <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Faq</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-cream border-top text-muted py-4">
        <div class="text-center">
            Carlos Rodriquez Jr. &copy; 2021 <a href="https://github.com/Carlos43525">Github</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/ad3773c8b2.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
