@model Product

<div>
    <h2>@Model.Name</h2>
    <h3>@Model.Price.ToString("c")</h3>
    <h4>@Model.Category.CategoryName</h4>

    <a class="btn btn-primary" asp-controller="Menu" asp-action="Details" asp-route-id="@Model.Id">Details</a>
</div>